
<section>
    <h2>Entre como participante</h2>
    <form action="">
        <label class="sr-only" for="room-pass">insira uma senha</label>
        <input type="number" id="room-pass" placeholder="insira uma senha">
        <button>
            <img src="images/users-white.svg" alt="criar sala">
                Criar sala
        </button>
    </form> 
</section>         
